.bg-primary2 {
  background-color: #2E421E;
  padding: 20px 0;
}
.container-2 {
    max-width: 1815px;
  }

  .dr-header-button {
    width: 200px;
    height: 60px;
    background-color: red;
    color: #fff;
    display: flex;
    ;
  }